<div class="container">
  <h1>New Tag</h1>

  <%= render('errors') %>

  <form action="/tags" method="post">
    <%= render('form') %>
    <button>Create Tag</button>
  </form>

  <a href="/"> Go Back </a>
</div>
